body {
	background: #fbfefb;
	/*background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));*/
	color: #666;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 5px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	background-color: #f0fff7;
	text-align: center;
	border-radius: 30px;
	position: relative;
}

/*.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}*/

.steel {
	background-color: #9393B3;
}

.fire{
	background-color: #F08030;
}

.grass {
	background-color: #48D0B0;
}

.electric {
	background-color: #FFCE4B;
}

.water{
	background-color: #6890F0;
}

.ice {
	background-color: #98D8D8;
}

.ground {
	background-color: #E0C068;
}

.rock {
	background-color: #B8A038;
}

.fairy {
	background-color: #EE99AC;
}

.poison {
	background-color: #A040A0;
}

.bug {
	background-color: #A8B820;
}

.dragon {
	background-color: #7038F8;
}
.ghost {
	background-color: #7C538C;
}
.psychic {
	background-color: #F85888;
}

.flying {
	background-color: #A890F0;
}

.fighting {
	background-color: #C03028;
}
.dark {
	background-color: #5E4C4C;
}

.normal {
	background-color: #A8A878;
}

.card:hover {
	animation: bounce 0.7s linear;
	background-color: #E8F3FF;
	border: 1px solid #D2E7FD;
	box-shadow: 0 0 25px -5px #d0e7ff;
	transition: opacity 0.15s ease-in;
	transform: scale(1) translateZ(0);
}

/*.card:hover .card-subtitle{

	padding-left: 20px;
    transform: translateY(20px);
    transition: transform 1s ;
}*/

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	color: #666;
	font-weight: normal;
	position: relative;
	z-index: 2;
}
/*.card-title-id{
	/*margin-bottom: .5rem;
	line-height: 1.2;
	color: #666;
    font-size: 20px;
	font-weight: 800;
	margin-left: 10px;
}
*/

.card-subtitle {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	color: #f8f8f8;
	padding: 5px 0;
	/*background: #EFEFBB;*/
	border-radius: 25px;
	font-weight: lighter;
	position: relative;
	z-index: 2;
	/*text-transform: uppercase;*/
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}
.type-image{
	height: 20px;
	vertical-align: middle;
	margin-left: 8px;
	margin-right: 8px;
}

.pokedex-control{
	grid-template-columns: repeat(3, 17rem);
	margin: 4rem 0 3 rem;
	display: grid;
	grid-gap: .5rem;
	justify-content: center;
}

.pokedex-control .form-control{
	margin: 0.5rem;
	display: grid;
	align-items: center;

}

.search-input{

	font-size: 15px;
	font-weight: 50px;
	text-align: center;
	color: #666;
	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 25px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	border: 1px solid #666;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.search-input:hover, :focus{

	padding: 5px 0;
	outline: 0;
	border: 1px solid transparent;
	border-bottom: 1px solid #666;
	border-radius: 0;
	background-position: 100% center;
}

.filter-input{

	line-height: 25px;
	font-size: 15px;
	font-weight: 50px;
	text-align: center;
	color: #666;
	background-color: transparent;
	border-radius: 50px;
	border: 1px solid #666;
}

@keyframes bounce {

	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}