body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	background-color: #f8f8f8;
	text-align: center;
	border-radius: 30px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: #f8f8f8;
}

.fire{
	background-color: #ffbebe;
}

.grass {
	background-color: #f8f8f8;
}

.electric {
	background-color: #f8f8f8;
}

.water, .ice {
	background-color: #f8f8f8;
}

.ground {
	background-color: #f8f8f8;
}

.rock {
	background-color: #f8f8f8;
}

.fairy {
	background-color: #f8f8f8;
}

.poison {
	background-color: #f8f8f8;
}

.bug {
	background-color: #f8f8f8;
}

.dragon {
	background-color: #f8f8f8;
}
.ghost {
	background-color: #f8f8f8;
}
.psychic {
	background-color: #f8f8f8;
}

.flying {
	background-color: #f8f8f8;
}

.fighting {
	background-color: #f8f8f8;
}
.dark {
	background-color: #f8f8f8;
}

.normal {
	background-color: #f8f8f8;
}

.card:hover {
	animation: bounce 0.7s linear;
	background-color: #e8f3ff;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	color: #666;
	padding: 5px 0;
	/*background: #EFEFBB;*/
	border-radius: 25px;
	font-weight: lighter;
	position: relative;
	z-index: 2;
	/*text-transform: uppercase;*/
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}